.registration_button_bh{
    margin-top:20px;
    width:200px;
    padding:15px;
    border-radius: 15px;
    border:none;
    background-color: #EFAE4A;
    font-weight: 600;
    font-size:20px;
    margin-bottom:20px;
    margin-left:470px;
}