.landingPage--feedContainer{
    height: 700px;
    width: 90%;
    margin: auto;
    /* border: 1px solid black; */
    box-shadow: 2px 2px 8px 0px #e6e6e6;
}
.landigngPage--searchOptionDiv{
    height: 80px;
    width: 90%;
    margin: auto;
    /* border: 1px solid green; */
    box-shadow: 2px 2px 8px 0px #e6e6e6;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.Search--filterNamaDiv{
    height: 30px;
    width: 5%;
    /* border: 1px solid black; */
    text-align: left;
    align-items: center;
    margin-left: 25%;
}
.Search--filterNamaDiv p{
 font-size: 18px;
 font-weight: 600;
 font-family: sans-serif;
}
.Search--fromdiv{
    height: 22px;
    width: 15%;
    border: 1px solid rgb(158, 157, 157);
    margin-top: -10px;
    display: flex;
    margin-left: 2%;
    /* border: 1px solid red; */
}
.Search--fromdiv-iconDiv{
    height: 20px;
    width: 12%;
    /* border: 1px solid rgb(199, 199, 199); */
    /* border: 1px solid rgb(41, 11, 11); */
}
.Search--fromdiv-inputFeildDiv{
    height: 22px;
    width: 75%;
    /* border: 1px solid black; */
    margin-left: 2%;
    
}
.Search--fromdiv-inputFeildDiv input{
    width: 95%;
    border: none;
}
.Search--fromdiv-inputFeildDiv input:focus{
    outline:none;
}
.ArrowDropDownIcon{
    margin-left: -5%;
}
.drowDownDiv{
    height: 50px;
    width: 16%;
    border-radius: 5px;
    margin-top: 5px;
    background-color: white;
    box-shadow: 0px 0px 1px 1px rgb(223, 223, 223);
}
.hr{
    width: 90%;
    margin-top: -2.5px;
    background-color:rgb(223, 223, 223) ;
    margin:auto;
}
.Search_fromdiv_btn{
    height: 20px;
    width:6%;
    background-color: #EFAE4A;
    border-radius: 30px;
    border: none;
    color: white;
    margin-left: 2%;
    font-weight: 600;
    /* margin-top: 1px; */
    box-shadow: 2px 2px 8px 0px #E6E6E6;
    margin-top: -10px;
}
.AddLocationIcon{

    height:15px !important;
    margin-left: -15% !important;
}