.parent_login_bh{
    width:60%;
    height:500px;
    margin:auto;
    padding-top:100px;
    box-shadow: 0px 0px 1px 1px rgb(223, 223, 223);
    /* border:1px solid blue; */
}
.login_button_bh{
    margin-top:20px;
    width:250px;
    padding:20px;
    border-radius: 15px;
    border:none;
    background-color: #EFAE4A;
    font-weight: 600;
    font-size:17px;
    margin-bottom:20px;
    margin-left:80px;
}
.parent_login_btn_bh{
    justify-content:center;
}