*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.signup_button_bh{
    margin-top:20px;
    width:250px;
    padding:20px;
    border-radius: 15px;
    border:none;
    background-color: #EFAE4A;
    font-weight: 600;
    font-size:17px;
    margin-bottom:20px;
    margin-left:80px;

} 
.parent_sinup_div_bh{
    margin-top:20px;
    margin-left: 5%;
    width:90%;
    height:500px;
    /* margin:auto; */
    box-shadow: 0px 0px 1px 1px rgb(223, 223, 223);
    padding-top:70px;
}
.sign_up_button_div_bh{
    /* border:1px solid red; */
    margin-left:17%
}