.chat-parentDiv{
    height: 500px;
    width: 70%;
    margin:auto;
    border: 1px solid #D4D4D4;
    box-shadow: 2px 2px 8px 0px #E6E6E6;
}
.chat-subDiv{
    height: 80px;
    width: 40%;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(241, 241, 241);
    margin-left: 5%;
}
.chat-username{
    height: 25px;
    width: 25%;
    border-radius: 20px;
    background-color: #EFAE4A;
}
.chat-username p{
    color: white;
    font-style: italic;
    font-family: sans-serif;
    margin-left: 4px;
    font-size: 12px;
    text-align: center;
}
.chat-message{
    height: 40px;
    width: 70%;
    border: 1px solid rgb(189, 189, 189);
    margin-top: 10px;
    border-radius: 20px;
    margin-left: 2%;
}
.chat-message p{
    color: rgb(110, 110, 110);
    font-style: italic;
    font-family: sans-serif;
    margin-left: 4px;
    font-size: 12px;
    text-align: center;
}
.ChatInput-div{
    height: 50px;
    /* border: 1px solid black; */
    width: 50%;
    margin-top: 370px;
    margin-left: 25%;
    display: flex;
}
.ChatInput-div input{
    height: 50px;
    width: 82%;
    border-radius: 30px;
    border: 1px solid gray;
}
.ChatInput-div input:focus{
    outline: none;
}
.ChatInput-div button{
    width: 18%;
    border-radius: 30px;
    border:none;
    background-color: #EFAE4A;
    color: white;
    font-family: 700;
}