*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.parent_div_bh{
    /* border:1px solid blue; */
    
}
.image_div_bh{
    width:90%;
    margin:auto;
    margin-top:20px;
    display:flex;
    justify-content:center;
    justify-content:space-evenly;
    /* border:1px solid black; */
}
.image_div_bh img{
    width:25%;
    border-radius: 10px;
}

.parent_div_bh h1{
    margin-top:20px;
    text-align:center; 
    font-weight:1000;
    text-transform:uppercase;
    text-decoration:underline;

   
}

.details_div_bh h2{
    margin-top:50px;
    margin-bottom:20px;
    text-transform:uppercase;
    text-align:center;
    font-weight: 500;

}
.data_div_bh{
    width:70%;
    margin:auto;
    display:flex;
    justify-content:space-around;
    /* border:1px solid red; */
    margin-bottom:20px;
}
.data_div_bh h3{
    font-weight:500;
    color: #EFAE4A;
}
.span_bh{
    font-weight:300;
    color:black;
}
.data_div_inside_bh{
    /* border:1px solid green; */
    width:40%;
    text-align:left;
   
}
.contact_button_bh{
    margin-top:10px;
    margin-left:42%;
    margin-bottom: 200px;
    width:200px;
    padding:20px;
    border-radius: 15px;
    border:none;
    background-color: #EFAE4A;
    font-weight: 600;
    font-size:20px;
}